@import url(https://fonts.googleapis.com/css?family=Poiret+One|PT+Sans+Narrow:400,700);
.container {
  display: flex;
  justify-content: center;
}

.card-modal {
  display: grid;
  justify-items: center;
  border-radius: 50px;
  background-color: #BA8748;
  font-family: 'Poiret One', sans-serif;
  margin: 30px;
  width: 700px;
  height: 410px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  align-items: center;
}

.card-modal:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-modal .title {
  color: #BA8748;
}

.card-modal .episode {
  position: relative;
    top: 15%;
}

.card-modal .director {
  color: #BA8748;
  position: relative;
  top: 40%;
}

.card-modal > img {
  width: 100px;
  height: 100px;
}

.card-modal .heart {
  width: 20px;
  height: 20px;
  position: relative;
}

.card-modal .headline {
  width: 100%;
  font-size: -webkit-xxx-large;
  position: relative;
}
