@import url(https://fonts.googleapis.com/css?family=Poiret+One|PT+Sans+Narrow:400,700);

h1 {
  color: #BA8748;
}

.home {
  font-family: 'Poiret One', sans-serif;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

}
.welcome {
  justify-content: center;
  width: 100%;
  display: flex;
}
